/* 1. Base Styles */
* { 
  box-sizing: border-box; 
}
body 
{ 
  margin: 0; 
  font-family: system-ui, Arial, sans-serif; 
  background-color: #222;
  font-size: 1rem;
  line-height: 1.5;
}

/* 2. Layout Basis */
.section {
  width: 100%;
}
.section.bg-dark {
  background-color: #111;
  
}
.section.bg-light {
  background-color: #f9f9f9;
  
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; 
  padding: 20px;       
  box-sizing: border-box;
}

.container.bg-dark {
  background-color: #111;
  
}
.container.bg-light {
  background-color: #f9f9f9;
}

/* ######################## Header ########################### */
.navbar{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; 
  padding: 20px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray; 
}

.container-logo{
  margin: 0;
  padding: 20px 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: beige;
}

.nav{
  margin: 0;
  padding: 20px 20px;
  
}

.nav-list{
  list-style: none; /* punkte entfernen*/  
  margin: 0;
  padding: 0;
  display: flex; /* li horizontal ausrichten*/   
  gap: 20px; /* Abstand zwischen den li */
}

.list-item{
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: beige;
  padding: 8px 16px;/*Klickbereich*/
  display: block;       /* Link füllt das ganze li */
  text-align: center;   /* Text mittig */
}

.nav-link:hover { 
  color: gold;
}
/* ######################################################### */


/* ######################## Main ########################### */
/*Gallery Bereich*/
.section-gallery{
  background-color: aliceblue;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 20px;
  border-bottom: 2px solid gray; 
}

.section-gallery-title{
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.container-gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 12px;
}

.gallery-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/*Preise Bereich*/
.container-prices{
  background-color: aliceblue;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; 
}

#pricing-heading{
  font-weight: normal;
  color: white;
}
.pricing-table {
  background-color: aliceblue;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-header{
  background: #333;
}

.table-header-cell,
.table-cell-highlight,
.table-cell-feature,
.table-cell-option,
.table-cell-total,
.table-cell-summary
{
  border: 1px solid #ddd;
  padding: 10px;
}

.table-header-cell{
  color: #fff;
  font-weight: normal;
}

.table-cell-highlight{
  background: #f4b400; 
  color: #000;
  font-weight: bold;
}

.table-cell-feature,
.table-cell-total{
  text-align: left;
}

.table-cell-total,
.table-cell-summary{
  font-weight: bold;
}


/*Consultation Bereich*/
#consultation-row{
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

#consultation-col-left,
#consultation-col-right
 {
  flex: 1;                   
  box-sizing: border-box;
}

#consultation-col-left{
  padding: 20px 20px; 
}

#consultation-col-right {
  display: flex;     
  justify-content: center;   
  align-items: center;
}

#consultation-p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
}
#consultation-h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.5rem; /* = 24px */
}

#consultation-form{
  display: flex;
  flex-direction: column; 
  gap: 10px;
  max-width: 500px;
}

#small-gap {
  display: flex;
  gap: 1px; 
}

#consultation-name,
#consultation-email,
#consultation-country-code,
#consultation-phone {
  height: 30px;
  box-sizing: border-box;
}
#consultation-name {
  width: 100%;
}
#consultation-country-code {
  flex: 0 0 40px; 
}
#consultation-phone {
  flex: 1;
}
  
#consultation-message {
  resize: none;
   
}

#consultation-name:focus,
#consultation-email:focus,
#consultation-phone:focus,
#consultation-country-code:focus,
#consultation-message:focus {
  outline: none;
  border-color: #f4b400;
  box-shadow: 0 0 4px #f4b400;
}


#consultation-submit{
  width: auto;     
  align-self: flex-start; 
  height: 22px;
  border-radius: 25px;
  border-style: none;
  background-color: #f9b300;
}

#consultation-avatar
{
  padding: 0px;
  display: inline-flex; ;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  padding-top: 20px;
}

.profile-img {
  width: 200px;        
  height: 200px;
  object-fit: cover;   
  border-radius: 50%; 
  border: 2px solid #f9b300; 
}
/* ######################################################### */

/* ######################## Footer ########################### */
.footer {
  width: 100%;
  padding: 40px 20px;
  background: #111;           
  color: beige;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
/* ######################################################### */






















