body {
  margin: 0;   /* weißen Rand weg */
  padding: 0;  /* Sicherheitsmaßnahme */
}

.header{
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 86px;
  border-bottom: 1px solid #555;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: white;
  line-height: 1;
}

.navbar{
  display: flex;
  flex: 1;                   
  justify-content: center;   
}

.nav-list{
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-link{
  display: block; /*Klickfläche*/
  padding: 10px 26px;/*Größe der Klickfläche*/
  color: white;
  text-decoration: none;
  font-size: 22px;
  line-height: 1;
}

.nav-link:hover{
  background-color: #555;
  border-radius: 4px;
}



/* Einheitlicher Container für alle Sektionen */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px; /* links/rechts Abstand */
}

/* Motto-Bereich */
.motto {
  background: #222;   
  color: #fff;
  padding: 80px 0 20px; /* oben/unten Luft, keine linke Verschiebung */
}
.motto-title {
  margin: 0;
  font-size: 56px;
  line-height: 1.2;
}
.motto-subtitle {
  margin: 0 0 20px 0;
  font-size: 18px;
  opacity: 0.9;
}

/* Author-Bereich */
.author-project {
  background: #222;
  color: white;
  padding: 40px 0;
}
.author {
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 30px; /* Abstand nach unten */
}
.author-info h3 {
  margin: 0;
  font-size: 16px;
}
.author-info p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.author-project img {
  max-width: 100%;  /* Bild bleibt im Container */
  height: auto;
  display: block;
  filter: brightness(85%);
}






